@font-face {font-family: 'jujucase-bold';src: url('../fonts/Raleway-Bold.ttf') format('truetype');}
@font-face {font-family: 'jujucase-semibold';src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');}
@font-face {font-family: 'jujucase-medium';src: url('../fonts/Raleway-Medium.ttf') format('truetype');}
@font-face {font-family: 'jujucase-regular';src: url('../fonts/Raleway-Regular.ttf') format('truetype');}
@font-face {font-family: 'jujucase-light';src: url('../fonts/Raleway-Light.ttf') format('truetype');}
