@font-face {font-family: 'sharespot-bold';src: url('../fonts/Poppins-Bold.ttf') format('truetype');}
@font-face {font-family: 'sharespot-semibold';src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');}
@font-face {font-family: 'sharespot-medium';src: url('../fonts/Poppins-Medium.ttf') format('truetype');}
@font-face {font-family: 'sharespot-regular';src: url('../fonts/Poppins-Regular.ttf') format('truetype');}
@font-face {font-family: 'sharespot-light';src: url('../fonts/Poppins-Light.ttf') format('truetype');}
@font-face {font-family: 'sharespot-thin';src: url('../fonts/Poppins-Thin.ttf') format('truetype');}

