$dark1: #0e1414;
$dark2: #111111;
$text-dark: #333333;
$text-medium: #666666;
$text-light: #aaaaaa;
$darkest-green: #00807b;
$dark-green: #20d696;
$light-green: #e2fff1;
$overlay: #00000070;
$white: #ffffff;